<div class="container">
    <h2>Danh sách thiết bị</h2>

    <div class="d-flex justify-content-between" style="margin-bottom: 10px;">
        <button mat-raised-button color="primary" (click)="openDialog()">+ Thêm thiết bị</button>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">

        <ng-container matColumnDef="stt">
            <th mat-header-cell *matHeaderCellDef> STT </th>
            <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Tên </th>
            <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
        </ng-container>

        <ng-container matColumnDef="serial_number">
            <th mat-header-cell *matHeaderCellDef> Serial </th>
            <td mat-cell *matCellDef="let element"> {{ element.serial_number }} </td>
        </ng-container>

        <ng-container matColumnDef="area">
            <th mat-header-cell *matHeaderCellDef> Khu vực </th>
            <td mat-cell *matCellDef="let element"> {{ element.area }} </td>
        </ng-container>

        <ng-container matColumnDef="ip_address">
            <th mat-header-cell *matHeaderCellDef> IP </th>
            <td mat-cell *matCellDef="let element"> {{ element.ip_address }} </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Trạng thái </th>
            <td mat-cell *matCellDef="let element"> {{ element.status === '1' ? 'Hoạt động' : 'Không hoạt động' }} </td>
        </ng-container>

        <ng-container matColumnDef="last_active">
            <th mat-header-cell *matHeaderCellDef> Hoạt động lần cuối </th>
            <td mat-cell *matCellDef="let element"> {{ element.last_active | date:'dd/MM/yyyy HH:mm' }} </td>
        </ng-container>

        <ng-container matColumnDef="user">
            <th mat-header-cell *matHeaderCellDef> Người dùng </th>
            <td mat-cell *matCellDef="let element"> {{ element.user }} </td>
        </ng-container>

        <ng-container matColumnDef="fingerprint">
            <th mat-header-cell *matHeaderCellDef> Vân tay </th>
            <td mat-cell *matCellDef="let element"> {{ element.fingerprint }} </td>
        </ng-container>

        <ng-container matColumnDef="face">
            <th mat-header-cell *matHeaderCellDef> Khuôn mặt </th>
            <td mat-cell *matCellDef="let element"> {{ element.face }} </td>
        </ng-container>

        <ng-container matColumnDef="palm">
            <th mat-header-cell *matHeaderCellDef> Lòng bàn tay </th>
            <td mat-cell *matCellDef="let element"> {{ element.palm }} </td>
        </ng-container>

        <ng-container matColumnDef="event">
            <th mat-header-cell *matHeaderCellDef> Sự kiện </th>
            <td mat-cell *matCellDef="let element"> {{ element.event }} </td>
        </ng-container>

        <ng-container matColumnDef="command">
            <th mat-header-cell *matHeaderCellDef> Lệnh </th>
            <td mat-cell *matCellDef="let element"> {{ element.command }} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Hành động </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="accent" (click)="openDialog(element)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="delete(element.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[30, 50, 70, 100]" style="margin-top: 50px;" showFirstLastButtons></mat-paginator>
</div>