<h2 mat-dialog-title>{{ data.id ? 'Sửa' : 'Thêm' }} Nhân Viên</h2>
<form [formGroup]="employeeForm">
    <div mat-dialog-content>
        <mat-form-field appearance="outline">
            <mat-label>Mã nhân viên</mat-label>
            <input matInput formControlName="code">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Họ và Tên</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Bộ phận</mat-label>
            <input matInput formControlName="department">
        </mat-form-field>
    </div>

    <div mat-dialog-actions>
        <button mat-button (click)="onCancel()">Hủy</button>
        <button mat-raised-button color="primary" [disabled]="employeeForm.invalid" (click)="onSave()">Lưu</button>
    </div>
</form>