<div class="container-loader" #loader *ngIf="isVisible">
  <span class="loader"></span>
</div>

<mat-sidenav-container class="sidenav-container">
  <!-- Sidebar -->
  <mat-sidenav #sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/ingredients">🥩 Nguyên liệu</a>
      <a mat-list-item routerLink="/products">🍜 Sản phẩm</a>
      <a mat-list-item routerLink="/recipes">🍽️ Công thức</a>
      <a mat-list-item routerLink="/stock-entries">📦 Nhập kho</a>
      <a mat-list-item routerLink="/import-sales">📂 Import Doanh Thu</a>
      <a mat-list-item routerLink="/reports">📊 Báo cáo</a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Nội dung chính -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span style="font-size: 18px; font-weight: bold;">Hệ thống quản lý quán net</span>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
