<div class="container">
    <h2>Danh Sách Chấm Công</h2>
    <input type="file" id="fileInput" (change)="onFileChange($event)" accept=".xlsx, .xls, .xlsb"
        style="margin-left: 10px; display: none;">
    <div class="d-flex" style="gap: 10px">
        <mat-form-field appearance="outline" style="min-width: 30%;">
            <mat-label>Tìm kiếm</mat-label>
            <input matInput [(ngModel)]="filter.keyword" (ngModelChange)="search()"
                placeholder="Nhập tên hoặc mã nhân viên">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Ngày</mat-label>
            <mat-date-range-input [rangePicker]="picker">
                <input matStartDate [(ngModel)]="filter.startDate" placeholder="Start date"
                    (ngModelChange)="loadAttendance()">
                <input matEndDate [(ngModel)]="filter.endDate" placeholder="End date"
                    (ngModelChange)="loadAttendance()">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Bộ phận</mat-label>
            <mat-select [(ngModel)]="filter.departmentIds" multiple (ngModelChange)="loadAttendance()">
                <mat-option *ngFor="let department of departmentList" [value]="department.id">
                    {{department.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Chức vụ</mat-label>
            <mat-select [(ngModel)]="filter.positionIds" multiple (ngModelChange)="loadAttendance()">
                <mat-option *ngFor="let position of positionList" [value]="position.id">
                    {{position.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </div>
    <div class="" style="display: flex; gap: 10px; margin-bottom: 10px; flex-shrink: 0;">
        <button mat-raised-button color="primary" (click)="openDialog()">Thêm Chấm Công</button>
        <button mat-raised-button color="primary"><label for="fileInput">Import Chấm Công</label></button>
        <button mat-raised-button color="primary" (click)="exportAttendance()">Export Chấm Công</button>
        <button mat-raised-button color="danger" (click)="deleteMultiAttendance()">Xóa Chấm Công</button>
        <button mat-raised-button color="danger" (click)="deleteAll()">Xóa tất cả chấm công</button>
    </div>


    <table mat-table [dataSource]="attendanceData" class="mat-elevation-z8">
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox
                (change)="$event ? masterToggle() : null"
                [checked]="isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
              >
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)"
              >
              </mat-checkbox>
            </td>
          </ng-container>
        <ng-container matColumnDef="employeeCode">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Mã Nhân viên </th>
            <td mat-cell *matCellDef="let row" style="text-align: center;"> {{ row.employee?.code }} </td>
        </ng-container>
        <ng-container matColumnDef="employee">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Nhân viên </th>
            <td mat-cell *matCellDef="let row" style="text-align: center;"> {{ row.employee?.name }} </td>
        </ng-container>

        <ng-container matColumnDef="department">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Phòng ban </th>
            <td mat-cell *matCellDef="let row" style="text-align: center;"> {{ row.employee?.department?.name }} </td>
        </ng-container>

        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Chức vụ </th>
            <td mat-cell *matCellDef="let row" style="text-align: center;"> {{ row.employee?.position?.name }} </td>
        </ng-container>

        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Ngày </th>
            <td mat-cell *matCellDef="let row"> {{ row.date | date:'dd/MM/yyyy' }} </td>
        </ng-container>

        <ng-container matColumnDef="dayWeek">
            <th mat-header-cell *matHeaderCellDef> Thứ </th>
            <td mat-cell *matCellDef="let row"> {{ getWeekDay(row.date) }} </td>
        </ng-container>

        <ng-container matColumnDef="timeIn">
            <th mat-header-cell *matHeaderCellDef> Giờ vào 1 </th>
            <td mat-cell *matCellDef="let row"> {{ row.timeIn }} </td>
        </ng-container>

        <ng-container matColumnDef="lunchStart">
            <th mat-header-cell *matHeaderCellDef> Giờ ra 1 </th>
            <td mat-cell *matCellDef="let row"> {{ row.lunchStart }} </td>
        </ng-container>

        <ng-container matColumnDef="lunchEnd">
            <th mat-header-cell *matHeaderCellDef> Giờ vào 2 </th>
            <td mat-cell *matCellDef="let row"> {{ row.lunchEnd }} </td>
        </ng-container>

        <ng-container matColumnDef="timeOut">
            <th mat-header-cell *matHeaderCellDef> Giờ ra 2 </th>
            <td mat-cell *matCellDef="let row"> {{ row.timeOut }} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Hành động </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="accent" (click)="openDialog(element)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteAttendance(element.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[30, 50, 70, 100]" style="margin-top: 50px;" showFirstLastButtons 
    [pageIndex]="filter.page" 
    [pageSize]="filter.limit"
    [length]="totalItems"
    (page)="changePage($event)"></mat-paginator>
</div>